@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap");

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Epilogue";
	background-color: #28293E;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1625px;
	margin: 0 auto;
	padding-inline: 15px;
}

.text {
	font-size: 26px;
}
/* @media (max-width: 826px) {
	.text {
		font-size: 18px;
	}
} 
@media (min-width: 450px) and (max-width:826px) {
	.text{
		font-size: 40px;
	} 
}*/
.page__container {
	padding-block: 30px;
}
.page__body {
	display: flex;
	gap: 20px;
	
	padding-inline: 50px;
}
.item-page {
	flex: 1 1 360px;
	padding: 20px;
	border-radius: 10px;
	background-color: #000;
}
.item-page__image {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 320 / 404;
}
.item-page__image:not(:last-child) {
	margin-bottom: 15px;
}
@media (max-width:925px) {
	.page__body {
		flex-wrap: wrap;
	}
}

/* =========================== */
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}
.portfolio {
	padding-block: 96px 92px;
}
.header--center {
	text-align: center;
}
.header {
	margin-block-end: 65px;
}
[class*="__label"] {
	color: #EF6D58;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 20px;
}
.header__tittle {
	font-size: 56px;
	font-weight: 800;
	line-height: 1.142857;
	letter-spacing: -1px;
	
}
.portfolio__header .header__tittle {
	margin-block-end: 36px;
}
.header__sub-tittle {
	max-width: 574px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	color: rgba(255, 255, 255, 0.64);
}
.header__menu {
	display: none;
}
.header__sub-tittle sup {
	display: inline-block;
	transform: translateY(-50%);
	font-size: 14px;
}
.portfolio__cards {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin-block-end: 65px;
	justify-content: center;
}
.card-portfolio {
	/* flex-grow: 1; */
	flex-basis: 40.1%;
	/* min-height: 416px; */
	aspect-ratio: 470 / 416;
	padding: 51px 48px;
	position: relative;
	display: flex;
	align-items: flex-end;
}
.card-portfolio__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
	aspect-ratio: 470 / 416;
	border-radius: 6px;
	z-index: -1;
	transition-duration: 0.4s;
}
.card-portfolio__content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}
.card-portfolio__logo {
	color: #391400;
	width: fit-content;
	line-height: 2;
	background-color: #fff;
	padding: 5px 15px 2px;
	border-radius: 19px;
	margin-block-end: 24px;
}
.card-portfolio__tittle {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
}
.button {
	display: flex;
	justify-content: center;
}
.button a {
	text-align: center;
	padding-inline: 30px;
	padding-block: 17px;
	border: 1px solid #FFFFFF4B;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
}
.cta {
	padding-block: 92px 70px;
}
.cta__container {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
	padding-inline: 100px 83px;
	border-radius: 6px;
	background-color: #fdf0e9;
}
.cta__header {
	max-width: 248px;
	padding-block: 74px;
}
.cta__tittle {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
	margin-block-end: 23px;
}
.button--color a {
	color: #fff;
	background-color: #EF6D58;
}

.button--left {
	justify-content: flex-start;
}
.cta__image-block {
	position: relative;
	flex-basis: 338px;
	aspect-ratio: 338 / 192;
	padding-bottom: 16px;
}
.cta__image-block img {
	position: relative;
	z-index: 3;
	max-width: 100%;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.cta__image-block::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 16px;
	z-index: 2;
	width: calc(100% - 32px);
	height: calc(100% - 16px);
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.cta__image-block::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 32px;
	z-index: 1;
	width: calc(100% - 64px);
	height: calc(100% - 16px);
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.cta__image-girl {
	position: relative;
	flex-basis: 294px;
	align-self: flex-end;
	padding-left: 53px;
	margin-top: -60px;
	background: url("../img/path.svg") left 70% / contain no-repeat;
}
.cta__image-girl img {
	aspect-ratio: 239 / 396;
	position: relative;
	z-index: 2;
	max-width: 100%;
}
.cta__image-gift {
	position: absolute;
	top: 0;
	left: 7.1795%; 
	transform: translateY(-50%);
	width: 148px;
	height: 148px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cta__image-gift::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/star.svg") center / contain no-repeat;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.cta__image-gift img {
	position: relative;
	z-index: 2;
	max-width: 32px;
}
.events {
	padding-block: 70px;
}
.header__tittle--width {
	max-width: 426px;
	margin: 0 auto;
}
.cards-event {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}
.cards-event--margin {
	margin-block-end: 64px;
}
.cards-event__item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-basis: 370px;
	padding-inline: 40px;
	padding-block: 36px;
	border: 1px solid #3A3C56;
	border-radius: 6px;
}
.cards-event__term {
	margin-block-end: 8px;
	padding-block-end: 36px;
	border-bottom: 1px solid #3A3C56;
}
.cards-event__date {
	display: flex;
	gap: 12px;
}
.cards-event__number {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -2px;
}
.cards-event__month-year {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
	max-width: 134px;
	padding-block-start: 5px;
}
.cards-event__time {
	line-height: 2;
}
.cards-event__time::before {
	content: "";
	background: url("../img/clock.svg") 0 0 / 16px no-repeat;
	width: 16px;
	height: 16px;
	margin-inline-end: 8px;
	vertical-align: middle;
}
.cards-event__text {
	padding-block-start: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
}
.cards-event__text h3{
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
	margin-block-end: 19px;
}
.cards-event__text p {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	margin-block-end: 26px;
	flex-grow: 1;
}
.cards-event__text a {
	line-height: 2;
	position: relative;
	width: fit-content;
}

.team {
	padding-block: 70px 90px;
}
.team__header {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	margin-bottom: 64px;
	flex-basis: 531px;
}
.header__content {
	flex-basis: 531px;
}
.header__buttons {
	align-self: flex-end;
	display: flex;
	align-items: center;
	gap: 16px;
}
.header__button {
	width: 48px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 50%;
	border: 1px solid #676877;
	background: url("../img/arrow.svg") center / 14px no-repeat;
	transition: background-color 0.3s;
}
.header__button--next {
	transform: rotate(180deg);
}
.team__content-images {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-block-end: 52px;
}
.slide-item {
	flex: 1 1 270px;
	aspect-ratio: 270 / 272;
}
.slide-item__image {
	display: flex;
	border-radius: 6px;
	border: 1px solid #3A3C56;
	align-items: flex-end;
	justify-content: center;
	aspect-ratio: 1 / 1;
	margin-block-end: 25px;
	overflow: hidden;
}
.slide-item__image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.slide-item__name {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
	margin-block-end: 3px;
}
.slide-item__work {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
}
.team__pages {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.team__pages div {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #3A3C56;
	cursor: pointer;
	transition: transform 0.3s;
}
.team__pages div:first-child {
	background-color: #EF6D58;
}
.team__pages div:nth-child(4), .team__pages div:nth-child(5), .team__pages div:nth-child(6) {
	display: none;
}

.founder {
	padding-block: 90px 93px;
}
.founder__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}
.founder__image {
	flex-basis: 48.7%;
	aspect-ratio: 570 / 448;
	overflow: hidden;
	flex-grow: 1;
	
}
.block-founder__image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.founder__info {
	flex-basis: 40.1%;
	padding-block: 44px;
	position: relative;
	background: url("../img/Shape.svg") 83% 40px / 21.2% no-repeat;
}
.founder__label {
	margin-block-end: 33px;
}
.founder__words {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	margin-block-end: 44px;
}
.founder__name {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 6px;
}
.founder__work {
	color: rgba(255, 255, 255, 0.64);
	font-size: 14px;
	line-height: 1.7;
}
@media (max-width: 1200px) {
	.cards-event__item {
		flex-grow: 1;
		align-items: center;
	}
	.cards-event__text {
		text-align: center;
	}
	.cards-event__text a {
		align-self: center;
	}
	.team__content-images {
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
	.team__header {
		gap: 0;
	}
	.slide-item {
		flex-shrink: 0;
	}
}
@media (min-width: 1141px) {
	.card-portfolio:nth-child(4n+2),
		.card-portfolio:nth-child(4n+3) {
			flex-basis: 57.2%;
			aspect-ratio: 670 / 416;
		}
}
@media (max-width: 1120px) and (min-width: 769px) {
	.founder__container {
		gap: 10px;
		justify-content: space-around;
	}
	.founder__image {
		max-width: 400px;
	}
	.founder__image img {
		max-width: 400px;
	}
	.founder__words {
		font-size: 35px;
	}
}
@media (max-width: 1024px) {
	.header__tittle {
		font-size: 48px;
	}
	.card-portfolio {
		aspect-ratio: 329 / 416;
		object-fit: cover;
		object-position: center;
	}
	.cta__container {
		padding-inline: 50px;
	}
	.cta__header {
		padding-block: 72px 40px;
	}
}
@media (max-width: 1024px) and (min-width: 631px) {
	.card-portfolio__tittle {
		font-size: 32px;
	}
	.card-portfolio__logo {
		padding: 3px 10px 1px;
		margin-block-end: 18px;
	}
}
@media (min-width: 769px) {
	.header__sub-tittle a:hover {
		text-decoration: underline;
		color: #fff;
	}
	.card-portfolio:hover .card-portfolio__image {
		opacity: 0.5;
		transition-duration: 0.4s;
	}
	.button a:hover {
		background-color: #fff;
		color: #000;
		transition-duration: 0.4s;
	}
	.button--color a:hover {
		color: #EF6D58;
		background-color: #fff;
		border: 1px solid #EF6D58;
	}
	.cta__image-gift::before {
		animation: spin 60s linear infinite;
	}
	.cards-event__text a:hover {
		text-decoration: underline;
	}
	.team__pages div:hover:not(:first-child) {
		transform: scale(1.5);
	}
	.header__button:hover {
		background-color: #221e33;
	}
}
@media (max-width: 768px) and (min-width: 426px) {
	.cta__image-block {
			display: none;
		}
}
@media (max-width: 768px) {
	.card-portfolio {
		padding: 35px 32px;
	}
	.header__button {
		display: none;
	}
	.cta__container {
		justify-content: space-around;
	}
	.team__header {
		justify-content: center;
	}
	.header__content {
		text-align: center;
	}
		.team__pages div:nth-child(4),
		.team__pages div:nth-child(5),
		.team__pages div:nth-child(6) {
			display: flex;
		}
		.founder__container {
			flex-direction: column;
			gap: 20px;
		}
		.founder__info {
			max-width: 570px;
			flex-basis: auto;
			align-self: flex-start;
		}
}
@media (max-width: 635px) {
	.portfolio__cards >* {
		aspect-ratio: 570 / 416;
		flex-basis: 570px;
	}
}
@media (max-width: 425px) {
	[class*="__container"] {
		padding-inline: 23px;
	}
	.portfolio {
		padding-block: 92px 72px;
	}
	.header {
		margin-block-end: 35px;
	}
	.portfolio__header {
		margin-block-end: 48px;
	}
	.header__tittle {
		font-size: 40px;
		line-height: 1.2;
	}
	[class*="label"] {
		margin-block-end: 17px;
	}
	.header__sub-tittle {
		display: none;
	}
	.header__menu-item {
		position: relative;
	}
	.header__menu {
		display: block;
		width: 100%;
		color: rgba(57, 20, 0, 0.64);
		line-height: 2;
		border-radius: 6px;
		padding-inline: 16px;
		padding-block: 9px 7px;
		appearance: none;
	}
	.header__menu-item::after{
		content: "";
		background: url("../img/Triangle.svg") right / contain no-repeat;
		width: 10px;
		height: 6px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 4;
	}
	.portfolio__cards {
		margin-block-end: 48px;
	}
	.header__sub-tittle {
		max-width: 350px;
		justify-content: center;
	}
	
	.card-portfolio {
		flex-basis: 329px;
		aspect-ratio: 329 / 416;
		padding: 51px 28px;
	}
	.card-portfolio:last-of-type {
		display: none;
	}
	.cta {
		padding-block: 72px 70px;
		padding-inline: 30px;
	}
	.cta__container {
		flex-direction: column;
		gap: 45px;
		padding-inline: 28px;
	}
	.cta__header {
		padding-block: 92px 0px;
	}
	.cta__image-block {
		flex-basis: 172px;
		
		margin-block-end: 60px;
	}
	.cta__image-girl {
		align-self: center;
		padding-left: 44px;
	}
	.cta__image-girl img {
		width: 100%;
	}
	.events {
		padding-block: 70px 62px;
	}
	.events__cards {
		margin-block-end: 48px;
	}
	.team {
		padding-block: 62px 58px;
	}
	.founder {
		padding-block: 58px 50px;
	}
	.founder__container {
		display: flex;
		flex-direction: column;
		gap: 41px;
	}
	.founder__image {
		aspect-ratio: 329 / 259;
		flex-basis: 259px;
	}
	.founder__image img {
		width: 100%;
	}
	.founder__info {
		padding-block: 0;
		background: url("../img/Shape.svg") 100% 9px / 30.3% no-repeat;
	}
	.founder__label {
		margin-block-end: 29px;
	}
	.founder__words {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.3;
	}
}
@media (max-width: 320px) {
	.cta {
		padding-block: 72px 50px;
	}
	.events {
		padding-block: 50px 55px;
	}
	.cta__image-block {
		display: none;
	}
	.cta__image-girl {
		margin: 0;
		margin-block-end: -29px;
	}
	.founder__image {
		max-width: 274px;
	}
}
.dark-theme {
	font-family: 'Manrope', sans-serif;
	color: #fff;
	background-color: #141414;
	padding-block: 40px;
}
.dark-theme__buttons {
	display: none;
}
.movies {
	padding-block: 77px 62px;
}
.shows {
	padding-block: 63px 68px;
}
.movies__container, .shows__container {
	max-width: 1630px;
	padding-inline: 15px;
	margin: 0 auto;
}
[class *="__border"] {
	border: 1px solid #262626;
	border-radius: 12px;
	padding: 50px;
}
.main-link {
	background-color: #E50000;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	padding: 10px 24px;
	transform: translateY(50%);
	margin-inline-start: 50px;
	transition-duration: 0.4s;
}
.headline__tittle {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
}
[class *="__headline"] {
	margin-block-end: 50px;
}
.must-watch__cards {
	display: flex;
	gap: 20px;
}
.must-watch__item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1 1 24%;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid #262626;
	background: #1A1A1A;
}
.must-watch__description {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	color: #999;
	font-weight: 500;
	line-height: 1.5;
}
.must-watch__rating {
	font-size: 14px;
}
.must-watch__image {
	width: 100%;
	border-radius: 12px;
	object-fit: cover;
	aspect-ratio: 320 / 404;
}
.must-watch__time {
	padding-block: 6px;
	padding-inline: 6px 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
}
.must-watch__time::before {
	content: '';
	background: url("../img/dark/clock.svg") 0 0 / 24px no-repeat;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-inline-end: 2px;
}
.must-watch__rating {
	display: flex;
	gap: 2px;
	padding-block: 6px;
	padding-inline: 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
}
.must-watch__rating img {
	
	aspect-ratio: 18 / 18;
	flex-basis: 12.2%;
}

.our-genres__cards {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 30px;
	align-items: flex-start;
}
.our-genres__item {
	flex-basis: 275.4px;
	padding: 30px;
	border-radius: 12px;
	border: 1px solid #262626;
	background-color: #1A1A1A;
	min-width: 0;
}
.our-genres__images {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}
.our-genres__images::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);
}
.our-genres__images img {
	min-width: 0;
	flex: 0 0 calc(50% - 2.5px);
	object-fit: cover;
	border-radius: 10px;
	aspect-ratio: 105 / 123;
}
.our-genres__genre {
	display: flex;
	gap: 5px;
	justify-content: space-between;
}
.our-genres__genre p {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
}
.our-genres__genre img {
	flex: 0 0 30px;
}

@media (min-width: 769px) {
	.main-link:hover {
		color: #E50000;
		background-color: #FFCCCC;
		transition-duration: 0.4s;
	}
}

@media (min-width: 426px) {
	.headline {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		align-items: center;
	}
	.headline__buttons {
		display: flex;
		align-items: center;
		flex-grow: 0;
		gap: 16px;
		padding: 16px;
		border-radius: 12px;
		border: 1px solid #1F1F1F;
		background-color: #0F0F0F;
	}
	.headline__button {
		width: 56px;
		height: 56px;
		flex-shrink: 0;
		border-radius: 8px;
		border: 1px solid #1F1F1F;
		background: url("../img/dark/arrow.svg") center / 28px no-repeat, #1A1A1A 0 0 / cover no-repeat;
		transition: background-color 0.3s;
	}
	.headline__button--next {
		transform: rotate(180deg);
	}
	.headline__pages {
		display: flex;
		gap: 3px;
	}
	.headline__pages div {
		width: 16.3px;
		height: 4px;
		border-radius: 100px;
		background-color: #333;
	}
	.headline__pages div:first-child {
		width: 23px;
		background-color: #E50000;
	}
}
@media (max-width: 1440px) {
	[class *="__headline"] {
		margin-block-end: 40px;
	}
	.must-watch__item {
		padding: 16px;
		gap: 16px;
	}
	.must-watch__description {
		font-size: 12px;
		flex-wrap: wrap;
	}
	.must-watch__rating {
		font-size: 12px;
	}
	.must-watch__time::before {
		content: '';
		background: url("../img/dark/clock.svg") 0 0 / 20px no-repeat;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin-inline-end: 2px;
	}
	.must-watch__rating img {
		max-width: 14px;
	}
	.our-genres__item {
		padding: 24px;
	}
	.our-genres__genre p {
		font-size: 16px;
	}
	.our-genres__genre img {
		flex-basis: 24px;
	}
}
@media (max-width: 1024px) {
	.our-genres__cards {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 1440px) and (min-width: 426px) {
	[class *="__border"] {
		padding: 40px;
	}
	.main-link {
		font-size: 16px;
	}
	.headline__tittle {
		font-size: 30px;
	}
	.headline__buttons {
		object-fit: contain;
		gap: 12px;
		padding: 12px;
		border-radius: 10px;
	}
	.headline__button {
		width: 44px;
		height: 44px;
		border-radius: 6px;
		background: url("../img/dark/arrow.svg") center / 24px no-repeat, #1A1A1A 0 0 / cover no-repeat;
	}
	.headline__pages div {
		width: 14px;
	}
	.headline__pages div:first-child {
		width: 18px;
	}
}
@media (max-width: 768px) {
	[class *="__border"] {
			padding: 30px;
		}
	.headline__tittle {
		font-size: 24px;
	}
	.must-watch__cards {
		overflow-x: scroll;
	}
	.must-watch__item {
		padding: 12px;
		gap: 12px;
		flex-shrink: 0;
		flex-basis: 231px;
	}
	.must-watch__description {
		flex-wrap: nowrap;
		gap: 0;
	}
	.must-watch__rating {
		padding-inline: 8px;
		gap: 1px;
	}
	.headline__buttons {
		display: none;
	}
	.must-watch__cards {
		margin-block-end: 20px;
	}
	.scroll {
		max-width: 79px;
		min-height: 5px;
		margin: 0 auto;
		border-radius: 20px;
		background-color: #333;
	}
	.scroll div {
		max-width: 20px;
		min-height: 5px;
		border-radius: 20px;
		background-color: #E50000;
	}
	.our-genres__cards {
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow: scroll;
	}
	.our-genres__item {
		flex-shrink: 0;
	}
}
@media (max-width: 425px) {
	.headline__buttons {
		display: none;
	}
	.dark-theme__buttons {
		display: flex;
		max-width: 358px;
		margin: 0 auto;
		padding: 8px;
		border-radius: 8px;
		border: 1px solid #262626;
		background-color: #0F0F0F;
	}
	.dark-theme__buttons button {
		color: #999;
		padding: 12px 20px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.5;
		text-align: center;
		aspect-ratio: 171 / 45;
		flex-grow: 1;
	}
	.dark-theme__buttons button:first-child {
		color: #fff;
		border-radius: 6px;
		background: #1F1F1F;
	}
	.main-link {
		display: none;
	}
	.movies__border, .shows__border {
		border: none;
	}
	.shows {
		display: none;
	}
	.movies {
		padding-block: 50px 80px;
	}
	[class *="__headline"] {
		margin-block-end: 20px;
	}
}