// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1630;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 15;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// #000 50%
// #000 60%
// #E4E4E7
// #F1F1F3

:root {
	--bgColor1: #141414;
	--txColor2: #fff;
	--bgColor1: #141414;
	--bgColor2: #0f0f0f;
	--bgColor3: #1a1a1a;
	--bgColor4: #e50000;
	--bgColor5: #640000;
	--bgColor6: #333;
	--bdColor1: #1f1f1f;
	--bdColor2: #262626;
	--txColor1: #bfbfbf;
	--txColor3: #999;
	--ffMain1: "Manrope", sans-serif;
}
