@import url("reset.css");

*{
	color: blue;
}
p{
	color: red;
}
.tittle1{
	color: green;
}
#introduction{
	color: blueviolet;
}
[class*="about"]{
	color: orange;
}
div.text{
	color: rgb(44, 97, 97);
}
.text.black {
	color: black;
}
.about-lysenko,
.about-leontovych{
	color: rgb(6, 6, 51);
}
.text1 p{
	color: rgb(105, 46, 12);
}
.text1 .paragraph{
	color: black;
}
.ivasiuk *{
	color: rgb(111, 136, 20);
}
.skoryk > p {
	color: rgb(226, 47, 47);
}
.text2 ~ p {
	color: rgb(150, 124, 39);
}
.paragraph + p{
	color: blueviolet;
}
