@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Gilroy";
	background-color: #333;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 50px;
}
.header {
	font-size: 60px;
	font-weight: 700;
	color: #4cace4;
	text-align: center;
}
.header:hover {
	color: #eb6f35;
	background-color: #122b3a;
}
.footer {
	font-size: 60px;
	font-weight: 700;
	color: #eb6f35;
	background-color: #122b3a;
	text-align: center;
}
.footer:hover {
	color: #4cace4;
	background-color: #333;
}
.portfolio {
	font-family: 'Epilogue', sans-serif;
	background-color: #FDF0E9;
	color: rgba(57, 20, 0, 0.64);
}
.portfolio-container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 60px 30px;
}
.portfolio-container img {
	max-width: 970px;
	margin: 0 auto;
	display: block;
	margin-bottom: 74px;
}
.portfolio-block {
	max-width: 570px;
	line-height: 2;
	margin: 0 auto;
}
.text1 {
	font-size: 20px;
	line-height: 1.6;
	color: #391400;
	margin-bottom: 32px;
}
.portfolio-block1 {
	margin-bottom: 51px;
}
.portfolio-tittle {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.333333; /* 32/24 */
	color: #391400;
}
.portfolio-block2, .portfolio-block3 {
	margin-bottom: 65px;
}
.portfolio-block2 > *:not(:last-child), .portfolio-block3 > *:not(:last-child) {
	margin-bottom: 35px;
}
[class*="list"] {
	color: #391400;
}
.item::before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #EF6D58;
	vertical-align: middle;
}
.item span {
	padding-left: 24px;
}
.text2 {
	background-color: #F9E5DA;
	font-size: 20px;
	color: #391400;
	padding: 42px 32px 32px 32px;
	margin-bottom: 76px;
}
.text2 p {
	background: url("../img/shape.png") 0 0 / 48px no-repeat;
	padding-left: 80px;
}
.busines1 {
	font-family: "DM Sans", sans-serif;
	background-color: #fff;
	color: #6E6C83;
	padding: 106px;
}
.busines1-container {
	max-width: 630px;
	font-size: 24px;
	line-height: 1.75;
}
.busines1-container > div:not(:last-child) {
	margin-bottom: 54px;
}
.busines1-container h2 {
	font-weight: 700;
	line-height: 1.1;
	color: #4A3AFF;
}
.busines1-container h3 {
	color: #1E1B39;
	font-size: 42px;
	font-weight: 700;
	line-height: 1.285;
	padding-right: 51px;
}
.tittle1::after {
	content: "";
	width: 50px;
	height: 54px;
	vertical-align: middle;
	background: url("../img/glass.png") 0 0 / 50px no-repeat;
}
.tittle2::after {
	content: "";
	width: 50px;
	height: 54px;
	vertical-align: middle;
	background: url("../img/laptop.png") 0 0 / 50px no-repeat;
}
.tittle3::after {
	content: "";
	width: 50px;
	height: 54px;
	vertical-align: middle;
	background: url("../img/rocket.png") 0 0 / 50px no-repeat;
}
.busines2 {
	font-family: "DM Sans", sans-serif;
	background-color: #fff;
	color: #1E1B39;
	padding: 106px;
	font-size: 0;
}
.busines2-container {
	max-width: 1708px;
	margin: 0 auto;
} 
.busines2-container h2 {
	font-size: 88px;
	font-weight: 700;
	line-height: 1.079;
	margin-bottom: 50px;
}
.busines-block1 {
	max-width: 543px;
	background-color: #F0F0F6;
	border-radius: 56px;
	padding: 24px;
	display: inline-block;
	margin-bottom: 20px;
}
.plans {
	max-width: 495px;
	background-color: #4A3AFF;
	border-radius: 34px;
	color: #fff;
	text-align: center;
	padding-block: 45px;
	margin-bottom: 34px;
}
.plans h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.066;
	opacity: 0.9;
}
.plans h4 {
	font-size: 116px;
	font-weight: 700;
	line-height: 1.034;
}
.plans p {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.1;
	opacity: 0.6;
}
.busines-block1 ul {
	margin-bottom: 34px;
	margin-left: 13px;
}
.busines-block1 li {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.357;
	margin-bottom: 26px;
	
}
.busines-block1 ul li:last-child {
	margin-bottom: 0;
}
.busines-block1 li::before {
	content: "";
	width: 36px;
	height: 36px;
	vertical-align: middle;
	background: url("../img/check-circle.png") 0 0 / 36px no-repeat;
	margin-right: 14px;
}
.items > *:not(:last-child) {
	margin-right: 39px;
}
.items {
	max-width: 1708px;
}
.homework-game {
	max-width: 900px;
	height: 900px;
	margin: 0 auto;
	padding: 60px;
	background: url("../img/star.jpg") 0 0 / cover no-repeat;
}
.level-1 {
	width: 70px;
	height: 30px;
	background-color: #F9E5DA;
	color: #ef58e7;
	font-size: 20px;
	text-align: center;
}
[class*="level"]:not(.level-1), .homework-game img {
	visibility: hidden;
}
.level-2 {
	width: 30px;
	height: 120px;
	background-color: #F9E5DA;
	margin-left: 40px;
}

.homework-game > *:hover + *, .homework-game > *:hover {
	visibility: visible;
}

.level-3 {
	width: 140px;
	height: 40px;
	background-color: #F9E5DA;
	margin-left: 40px;
}
.level-4 {
	width: 50px;
	height: 60px;
	background-color: #F9E5DA;
	margin-left: 130px;
}
.level-5 {
	width: 300px;
	height: 20px;
	background-color: #F9E5DA;
	margin-left: 150px;
}
.level-6 {
	width: 20px;
	height: 170px;
	background-color: #F9E5DA;
	margin-left: 430px;
}
.level-7 {
	width: 40px;
	height: 100px;
	background-color: #F9E5DA;
	margin-left: 410px;
}
.level-8 {
	width: 120px;
	height: 25px;
	background-color: #F9E5DA;
	margin-left: 290px;
	margin-top: -25px;
}
.level-9 {
	width: 20px;
	height: 80px;
	background-color: #F9E5DA;
	margin-left: 270px;
	margin-top: -25px;
}
.level-10 {
	width: 250px;
	height: 35px;
	background-color: #F9E5DA;
	margin-left: 270px;
}
.homework-game img {
	max-width: 260px;
	margin-left: 520px;
	margin-top: -35px;
}