@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Gilroy";
	background-color: #333;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

.page {
	padding: 30px;
}
.blocks {
	/* height: 150px; */
	position: relative;
}

.blocks__item {
	padding: 15px;
	text-align: center;
	font-size: 20px;
}
.blocks__item:nth-child(1) {
	background-color: rgba(177, 26, 190, 0.692);
}
.blocks__item:nth-child(2) {
	background-color: rgb(51, 170, 96);
	position: relative;
	bottom: 20px;
	left: 20px;
	opacity: 0.5;
	z-index: 2;
}
.blocks__item:nth-child(3) {
	background-color: rgb(170, 180, 26);
	position: absolute;
	top: 70%;
	left: 60%;
	opacity: 0.7;
	z-index: -1;
}
.blocks__item:nth-child(4) {
	background-color: #911e1e;
	position: fixed;
	bottom: 30px;
	right: 40px;
}
.blocks__item:nth-child(5) {
	background-color: #d48713;
	position: relative;
	bottom: 30px;
	right: 20px;
	opacity: 0.8;
	z-index: 3;
}
.blocks__item:nth-child(6) {
	background-color: #5c1299;
}
.blocks__item:nth-child(7) {
	background-color: #1a92c2;
	position: sticky;
	top: 15px;
}
.blocks__item:nth-child(8) {
	background-color: #cf1a75;
}
.blocks__item:nth-child(9) {
	background-color: #ff0000;
	position: fixed;
	top: 50%;
	left: 50%;
}
.blocks__item:nth-child(10) {
	background-color: #3be211;
	position: relative;
	bottom: 250px;
	z-index: 1;
}
.page__conteiner-homework {
	background-color: #28293E;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}
.content {
	position: relative;
	max-width: 570px;
	margin: 0 auto;
	aspect-ratio: 0.946844; /* 570/602 */
	margin-bottom: 40px;
}
.content__circle {
	background-color: #32334C;
	width: 370px;
	height: 370px;
	position: absolute;
	inset-block-start: 100px;
	inset-inline-start: 100px;
	border-radius: 50%;
	z-index: 1;
}
.content__laptop {
	background-color: #B550F8;
	height: 305px;
	border-radius: 50% 50% 6px 6px;
	max-width: 246px;
	position: relative;
	margin-block-end: 36px;
	z-index: 2;
}
.content__laptop img {
	position: relative;
	inset-block-start: 24px;
	inset-inline-start: 21px;
}
.content__twisted-arrow {
	max-width: 142px;
	margin-block-end: 17px;
	position: relative;
	z-index: 2;
}
.content__block {
	position: relative;
	z-index: 2;
	inset-inline-start: 56px;
	max-width: 214px;
}
.content__star {
	background-color: #EF6D58;
	aspect-ratio: 1;
	width: 112px;
	border-radius: 50%;
	position: absolute;
	inset-inline-start: 305px;
	inset-block-start: 40px;
	z-index: 2;
}
.content__star img {
	max-width: 42px;
	position: relative;
	inset-inline-start: 35px;
	inset-block-start: 28px;
}
.content__arrow {
	position: absolute;
	inset-inline-start: 315px;
	inset-block-end: 20px;
	max-width: 100px;
}
.content__cloud {
	max-width: 112px;
	position: absolute;
	inset-inline-end: 0;
	inset-block-start: 80px;
}
.content__girl {
	background-color: #F7CC47;
	height: 305px;
	border-radius: 50% 50% 6px 6px;
	max-width: 246px;
	position: absolute;
	inset-inline-end: 0;
	inset-block-end: 105px;
	z-index: 2;
}
.content__girl img {
	position: relative;
	inset-block-start: 36px;
}
.desing {
	max-width: 450px;
	position: relative;
}
.design__header {
	font-family: 'Epilogue', sans-serif;
	position: absolute;
	inset-block-end: 50px;
	inset-inline-start: 50px;
}
.design__header h2 {
	line-height: 2;
	color: #391400;
	text-align: center;
	max-width: 84px;
	background-color: #fff;
	border-radius: 19px;
	margin-block-end: 23px;
}
.design__header h3 {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
}
.desing:hover .design__image {
	opacity: 0.5;
}
/* .desing:hover .design__header h2 {
	background-color: #1a92c2d8;
}
.desing:hover .design__header h3 {
	color: #1a92c2;
} */