@use "sass:math";
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap");

@import "_mixins.scss";

@import "_fonts.scss";

@import "_reset.scss";

// #999
// 
// #262626
// #E500

// 
//
// 
// #333
// 
// #000 50%
// #000 60%
// #E4E4E7
// #F1F1F3

$bgColor1: #141414;
$bgColor2: #0F0F0F;
$bgColor3: #1A1A1A;
$bdColor1: #1F1F1F;
$txColor1: #BFBFBF;
$txColor2: #fff;

body {
	font-family: "Work Sans", sans-serif;
	background-color: $bgColor1;
	color: $txColor2;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class *="__container"] {
	max-width: toRem(1630);
	padding-inline: toRem(15);
	margin: 0 auto;
}

.header {

		// .header__container

		&__container {
			padding-block: toRem(23);
			display: grid;
			grid-template-columns: 0.827fr 1fr 0.827fr;
			gap: toRem(20);
			align-items: center;
		}

		// .header__logo

		&__logo {
			max-width: toRem(199);
			aspect-ratio: 199 / 60;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		// .header__menu

		&__menu {
			justify-self: center;
		}

		// .header__actions

		&__actions {
			justify-self: end;
		}
}
.menu {

		// .menu__body

		&__body {
		}

		// .menu__list

		&__list {
			display: flex;
			gap: toRem(6);
			background-color: $bgColor2;
			border-radius: toRem(12);
			border: toRem(4) solid $bdColor1;
			padding: toRem(10);
		}

		// .menu__item

		&__item {
		}

		// .menu__link

		&__link {
			padding: toRem(14) toRem(24);
			border-radius: toRem(8);
			border: toRem(1) solid transparent;
			color: $txColor1;
			transition: all 0.3s;
			// &:hover {
			// 	@extend .menu__link--active;
			// 	transition: all 0.3s;
			// }
			// @media (any-hover: hover) {
			// 	&:hover {
			// 		@extend .menu__link--active;
			// 	}
			// }
		}

		// .menu__link--active

		&__link--active {
			background-color: $bgColor3;
			border: toRem(1) solid $bgColor3;
			color: $txColor2;
		}
}
.actions-header {

		// .actions-header__item

		&__item {
		}
}
