@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap");

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Epilogue";
	background-color: #141414;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}
.page {
	padding: 30px;
}
[class*="--margin"] {
	margin-bottom: 50px;
}
.form-black {
	font-family: "Manrope", sans-serif;
	background-color: #0F0F0F;
	border-radius: 12px;
	border: 1px solid var(--Black-15, #262626);
	padding: 50px;
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	max-width: 978px;
	font-size: 18px;
	line-height: 1.5;
	justify-content: space-between;
}
.form-black__line {
	flex-basis: 413px;
}
.form-black__label {
	font-weight: 600;
}
.form-black__input, .form-black__textarea {
	padding: 20px;
	color: #999;
	border-radius: 8px;
	border: 1px solid #262626;
	background-color: #141414;
	margin-block-start: 16px;
}
.form-black__line-text {
	width: 100%;
	
}
.form-black__textarea {
	min-height: 163px;
	resize: none;
}
.form-black__label-check {
	color: #999;
	display: inline-flex;
	gap: 10px;
	cursor: pointer;
}
.form-black__label-check::before {
	content: "";
	width: 28px;
	height: 28px;
	border: 1px solid #262626;
	border-radius: 4px;
}
.form-black__input-check:focus-visible+.form-black__label-check {
	outline: 1px solid #fff;
}
.form-black__input-check:checked + .form-black__label-check::before {
	background: url("../img/check.svg") 0 0 / 100% no-repeat;
}

.form-black__line-check {
	padding-block: 18px;
}
.form-black__input-check {
	appearance: none;
}
.form-black__button {
	padding-block: 18px;
	padding-inline: 24px;
	font-weight: 600;
	border-radius: 8px;
	background-color: #E50000;
	
}